<template>
  <div>
    <Nuxt />
  </div>
</template>

<style>

@font-face {
	font-family: 'GothamLig'; 
  font-style: normal;
  font-weight: 100;
	src: local('Gotham'),

		url(/fonts/GothaProLig.otf); 

}
@font-face {

	font-family: 'Gotham'; 
  font-style: normal;
	font-weight: bold;
	src: local('Gotham'),

		url(/fonts/GothaProBol.otf); 

}
@font-face {

	font-family: 'GothamReg'; 
  font-style: normal;
	font-weight: bold;
	src: local('Gotham'),

		url(/fonts/GothaProReg.otf); 

}
@font-face {

	font-family: 'GothamMed'; 
  font-style: normal;
	font-weight: 300;
	src: local('Gotham'),

		url(/fonts/GothaProMed.otf); 

}
body{
  border: none;

margin: 0px;
padding: 0px;
}
html {
 	font-family: 'GothamLig'; 
  font-style: normal;
  font-weight: 100;
	src: local('Gotham'),

		url(/fonts/GothaProLig.otf); 
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

</style>
