<template>
  <div class="container">

     <v-popup1
v-if="IsRegPopupVisible"
@closePopup="closePopupRegCheck"
 />
 <regpopup 
 v-if="IsRegistrationPopupVisible"
@closePopup="closePopupRegistration"
/>
    <loginpopup 
 v-if="IsVhodPopupVisible"
@closePopup="closePopupLogin"
/>
    <div class="header">
 <a> об АКЦИИ</a>
 <a>Правила</a>
 
 <img id="logoheadermob" src="../static/logosmob.png" alt="" >
 <img id="logoheader" src="../static/logo.png" alt="" >
 <a>Победители</a>
 <a>Помощь</a>
 <div class="vhod">
 <a @click="ShowPopupRegistration">Регистрация</a> 
 <a @click="ShowPopupLogin">вход</a> </div>
 </div>

 <div class="mickey">
<div class="dates">
 <img class="logo" src="../static/logo.png" alt="">
<p>с 9 июля по 1 октября</p>
 <img class="shamps" src="../static/shamps.png" alt="">
 <span>Шампунь Schauma, в ассортименте, 350-400 мл</span></div>
</div>
 
<div class="yslovia">
<div class="title">
<h2 >ВЫИГРЫВАЙТЕ <br><span> 150 000 РУБЛЕЙ </span> каждый месяц!</h2>
</div>

<div class="first">
  <div class="numberblock">
<div class="number"><span>1</span></div>

<div class="number1text">
<h3>
  купите в «пятёрочке»
</h3>
 <p> два продукта с Выручай-картой: <br> <strong>
Детская Schauma + любая Schauma </strong></p>
<img src="../static/karta.png" alt="">
</div>
</div>
</div>

<div class="second">
  <div class="numberblock">
<div class="number"><span>2</span></div>

<div class="number2text">
<h3>РЕГИСТРИРУЙТЕ <br> ЧЕК</h3>
<p>на этом сайте</p>
<div class="reg-button123">

  <a class="reg-button" @click="ShowPopupRegCheck">зарегистрировать чек</a></div>
</div>
</div>
</div>

<div class="third">
<div class="numberblock">
<div class="number"><span>3</span></div>
<div class="number3text"> 
<h3>
получите <br> гарантированно
</h3>
<p>
  подписку на <img src="../static/okko.png" alt=""> <br> «Лучшее для детей» <br> и <strong>250 баллов</strong>  на выручай-карту
</p>
</div>
</div>
</div>



  </div>




  <div class="fourth">
<img id="tshirts12" src="../static/mayki.png" alt="">
  <div class="numberblock">
<div class="number"><span>4</span></div>

<div class="number4text">
<h3>участвуйте</h3>
<p>в розыгрыше <strong> семейных <br>
футболок с Микки Маусом</strong> <br>
каждую неделю!</p>
</div>

</div>

<img id="tshirts1" src="../static/mayki.png" alt="">
</div>

<div class="winners">
<h3>Победители</h3>
<div class="inputphone">
<p> Проверить статус по номеру телефона</p>
<input type="" placeholder="+7 ***-***-**-**">
<a class="find-button">найти</a></div>
</div>
 <div class="searchtable">
<div class="jopa">
  <a href="">Все призы</a>
  <a href="">подписка OKKO и баллы на выручай-карту</a>
  <a href="">футболки</a>
</div>
<table class="wintable">
<thead>
  <tr>
    <td>Дата розыгрыша</td>
    <td>Номер телефона</td>
 <td>Выигранный приз</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td>123</td>
    <td>132</td>
 <td>2131231</td>
  </tr>
  
</tbody>
</table>
 </div>

 <div class="footer">
   
 <img id="logofootermob" src="../static/logo.png" alt="">
 <a> об АКЦИИ</a>
 <a>Правила</a>
 <img id="logofooter" src="../static/logo.png" alt="">
 <a>Победители</a>
 <a>Помощь</a> 
 </div>
 
</div>
</template>

<script>
import vPopup1 from '../components/popup/v-popup1'
import regpopup from '../components/popup/regpopup'
import loginpopup from '../components/popup/vhodpopup'
export default {
  components: {
loginpopup,
vPopup1,
regpopup
  },
  props: {},
data() {
    return{
IsRegPopupVisible: false,
IsRegistrationPopupVisible: false,
IsVhodPopupVisible: false,
    }
},
computed:{},
methods:{
  ShowPopupRegCheck() {
 this.IsRegPopupVisible = true
  },
  ShowPopupRegistration() {
  this.IsRegistrationPopupVisible = true
  },
  ShowPopupLogin(){
  this.IsVhodPopupVisible = true
  },
  closePopupRegCheck () {
     this.IsRegPopupVisible = false
  },
  closePopupRegistration() {
     this.IsRegistrationPopupVisible = false
  },
  closePopupLogin(){
    this.IsVhodPopupVisible = false
  }
}
}

</script>

<style>
#logoheadermob{
  opacity: 0;
  width: 0;
}
#logofootermob{
  opacity: 0;
  width: 0;
}
#tshirts1{
  opacity: 0;
   width: 0;
}
.footer a{
  display: inline-flex;
  position: relative;
text-transform: uppercase ;
	font-weight: bold;
  font-size: 16px;
  line-height: 160%;
margin-left: 4rem;
margin-right: 4rem;
}

.footer img{
  width: 8%;
}

.footer{
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
padding: 1rem;
}
.header a{
  display: inline-flex;
  position: relative;
text-transform: uppercase ;
	font-weight: bold;
  font-size: 16px;
  line-height: 160%;
margin-left: 4rem;
margin-right: 4rem;
}

.header img{
  width: 8%;
}

.header{
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
padding: 1rem;
}
.vhod{
  position: absolute;
right: 5%;
}
.vhod a{
  margin-right: 2rem ;
    text-transform: uppercase ;
 color: #B8378D;
 font-family: 'Gotham';
 cursor: pointer;
}
.mickey{
  
padding-top: 50%;
   background-image:url(..\static\background.jpg) ;
  background-repeat: no-repeat ;
  background-position: 50% 100%;
background-size: cover;
}
.dates{
position: absolute;
top: 20%;
right: 5%;
display: flex;
flex-direction: column;
align-items: center;
}
.dates p{
  
 font-family: 'GothamReg';
  color: #0D2557;
  font-size:35px;
  line-height: 160%;
  font-weight: 500;
}
.dates span{
  font-size:20px;
  font-weight: 500;
  line-height: 160%;
}
 .shamps {
width: 60vh;
height: auto;
} 
.logo{
  width: 25vh;
height: auto;
}

.yslovia{
  
  padding-left: 5% ;
  padding-right: 5% ;
   background-image:url(..\static\back2.jpg) ;
  background-repeat: no-repeat ;
  background-position: 80% 0%;
background-size: cover; 

display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: stretch;
align-items: flex-start;
}
.title h2{
  width: 100%;
font-family: 'Gotham';
font-size: 80px;
font-style: normal;
font-weight: 900;
line-height: 130%;
text-align: left;
color: white;
display: block;
text-transform: uppercase;
margin-bottom: 2.5vw;
}
.title span{
   color: #B8378D;
}
.first {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;

    position: relative;
    width: 100%;
    justify-content: flex-start;
}
.number {
  font-family: 'Gotham';
position: relative;
display: block;
background: #fff;
width: 6vw;
height: 6vw;
min-width: 6vw;
min-height: 6vw;
border-radius: 50%;
margin-right: 1.5vw;
color: #0c2557;
font-size: 4.2vw;
line-height: 90%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;

}
.first img{
  width: 50%;
}
.numberblock {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: stretch;
}

.number1text{

  transform: translateY(-10%);
}
.numberblock h3{
font-family: 'Gotham';
font-style: normal;
font-size: 2.1vw;
line-height: 134.5%;
text-transform: uppercase;
color: white;
margin-bottom: .5vw;
}
.numberblock p{
font-style: normal;
font-weight: 500;
font-size: 1.15vw;
line-height: 130%;
text-transform: uppercase;
color: white;
}
strong{
  font-family: 'Gotham';  
}
.second{
    transform: translateY(-40%);
width: 100%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: stretch;
align-items: center;
}

.number2text {
  
  transform: translateY(-10%);
}
.reg-button{
  display: block;
cursor: pointer;
background: #b8378d;
font-family: 'Gotham';
font-size: 22px;
line-height: 2rem !important;
color: #fff;
padding: 1rem 4rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
transition: all .3s ease !important;
border: 1px solid #b8378d;
}
.reg-button:hover {
    background: #fff;
    color: #b8378d;
    }

 .third{
  transform: translateY(-40%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    position: relative;
    width: 100%;
justify-content: flex-end;
}    

.number3text{
  
  transform: translateY(-10%);
}
.number3text img{ 
  width: 15%;
display: inline-block;
vertical-align: bottom;
}

.number4text {
  transform: translateY(-10%);
}
.fourth{
     background-image:url(..\static\t-shirts.jpg) ;
  background-repeat: no-repeat ;
  background-position: 50% 0%;
background-size: cover; 
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
}

.fourth img {
  width: 20%;
margin-top: 2%;
margin-right: 1%;
}

.winners {
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-content: stretch;
align-items: center;
position: relative;
box-sizing: border-box;
padding-left: 10rem;
padding-right: 10rem;
width: 100%;
}
.winners h3{
font-family: 'Gotham';
text-transform: uppercase;
font-size: 60px;
line-height: 78px;
color: #0C2557;
}
.winners p{
font-family: 'GothamMed';
font-size: 16px;
line-height: 140%;
text-transform: uppercase;
}
.winners input{
  position: relative;
background: #fff;
border: 2px solid #a8a8a8;
border-radius: 10rem;
box-sizing: border-box;
 font-size: 1.5rem;
line-height: 140%;
color: #000;
padding: 1rem 6rem;
outline: none;
text-align: left;
margin-right: 1rem ;
}

.find-button{
cursor: pointer;
background: #b8378d;
font-family: 'GothamMed';
font-size: 1.5rem;
line-height: 140% !important;
color: #fff;
padding: 1rem 2rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
border: 1px solid #b8378d;
}
.find-button:hover {
    background: #fff;
    color: #b8378d;
    }
.searchtable{
  margin-top: 2rem;
      position: relative;
    box-sizing: border-box;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
}

.jopa {
  width: 100%;
background: #f3f3f3;
margin-bottom: 4rem;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-content: stretch;
align-items: center;
}
.jopa a{
  position: relative;
display: block;
cursor: pointer;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 140%;
text-transform: uppercase;
color: #000;
text-align: center;
text-decoration: none;
white-space: nowrap;
width: 33%;
}

.wintable{
  position: relative;
width: 100%;
border-collapse: collapse;
padding-bottom: 3.5rem;
white-space: nowrap;
text-transform: uppercase;
}
.wintable td{
  width: 33%;
}
thead td{
  
font-family: 'Gotham';
}
thead{
  border-bottom: 1px solid #c4c4c4;
}
tbody td{
padding-top: 2rem ;
}
@media only screen and (max-width: 360px) { 

.header a{
  width: 0;
  height: 0;
  opacity: 0;
  display: grid;
  position: relative;
text-transform: uppercase ;
	font-weight: bold;
  font-size: 16px;
  line-height: 160%;
margin-left: 1rem;
margin-right: 1rem;
}
#logoheadermob{
  padding-left: 3rem;
  opacity: 1;
  width: 70%;
}


.header{
display: grid;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
padding: 1rem;
}

.mickey{
  
padding-top: 0%;
padding-bottom: 100%;
   background-image:url(..\static\backgroundmob.png) ;
  background-repeat: no-repeat ;
  background-position: 50% 100%;
background-size: 100%;
}
.dates{
position: relative;
top: 0%;
right: 0%;
display: grid;
text-align: center;
flex-direction: column;
justify-content: center;
align-items: center;
}
.dates p{
  
text-align: center;
 font-family: 'GothamReg';
  color: #0D2557;
  font-size:24px;
  line-height: 160%;
  font-weight: 500;
}
.dates span{
  font-size:18px;
  font-weight: 500;
  line-height: 160%;
}
 .shamps {
   padding-left: 15%;
width: 25vh;
height: auto;
} 
.logo{
  margin: 0;
  width: 0;
  opacity: 0;
height: auto;
}
  .yslovia{
  padding-left: 10% ;
  padding-right: 0% ;
   background-image:url(..\static\backmob.png) ;
  background-repeat: no-repeat ;
  background-position: 10% 100%;
background-size: 100% ; 

display: grid;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;

padding-bottom: 20% ;
}


.title h2{
  width: 100%;
font-family: 'Gotham';
font-size: 34px;
font-style: normal;
font-weight: 900;
line-height: 130%;
text-align: left;
color: white;
display: block;
text-transform: uppercase;
margin-bottom: 2.5vw;
padding-bottom: 10% ;
}
.title span{
   color: #B8378D;
}
.first {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;

    position: relative;
    width: 100%;
    justify-content: center;
}
.number {
  font-family: 'Gotham';
position: relative;
display: block;
background: #fff;
width: 15vw;
height: 15vw;
min-width: 15vw;
min-height: 15vw;
border-radius: 50%;
margin-right: 1.5vw;
color: #0c2557;
font-size: 45px;
line-height: 90%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;

}
.first img{
  width: 50%;
}
.numberblock {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: center;
}


.number1text{
justify-content: center;
align-content: center;
align-items: center;
  transform: translateY(-10%);
}
.numberblock h3{
font-family: 'Gotham';
font-style: normal;
font-size: 24px;
line-height: 134.5%;
text-transform: uppercase;
color: white;
margin-bottom: .5vw;
}
.numberblock p{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 130%;
text-transform: uppercase;
color: white;
}
strong{
  font-family: 'Gotham';  
}
.second{
  
  
padding-top: 5% ;
    transform: translateY(-0%);
width: 100%;
display: grid;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-content: center;
align-items: center;
}

.number2text {
  
  transform: translateY(-10%);
}


.reg-button{
  display: block;
cursor: pointer;
background: #b8378d;
font-family: 'Gotham';
font-size: 14px;
line-height: 2rem !important;
color: #fff;
padding: 1rem 3rem;
text-align: center;
white-space: nowrap;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
border-radius: 20rem;
outline: none;
transition: all .3s ease !important;
border: 1px solid #b8378d;  

}

 .third{
   
padding-top: 5% ;
  transform: translateY(-0%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    position: relative;
    width: 100%;
justify-content: flex-end;
}    

.number3text{
  
  transform: translateY(-10%);
}
.number3text img{ 
  width: 15%;
display: inline-block;
vertical-align: bottom;
}

.number4text {
  transform: translateY(-10%);
}
.fourth{
  padding-top: 5%;
     background-image:url(..\static\t-shirtsmob.png) ;
  background-repeat: no-repeat ;
  background-position: 50% 50%;
background-size: 100%; 
display: grid;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
padding-left: 7%;
}

.fourth img {
  width: 20%;
margin-top: 2%;
margin-right: 1%;
}
#tshirts12{
  width: 0;
  opacity: 0;
}
#tshirts1{
  width: 70%;
  opacity: 1;
  padding-left: 10%;
}



.winners {
  display: grid;
padding-left: 0rem;
padding-right: 0rem;
width: 100%;
}
.winners h3{
text-align: center;
font-size: 40px;
line-height: 36px;
}
.winners p{
  
text-align: center;
font-size: 16px;
}
.winners input{
  align-content: center;
 font-size: 14px;

padding: 1rem 5.2rem;
margin-right: 0rem ;
margin-bottom: 2rem ;
}

.find-button{

font-size: 18px;

padding: 1rem 9rem;

}

.searchtable{
  margin-top: 2rem;
      position: relative;
    box-sizing: border-box;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
}
.jopa {
  opacity: 0;
  width: 100%;
background: #f3f3f3;
margin-bottom: 0rem;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-content: stretch;
align-items: center;
}
.jopa a{
  
font-family: 'ALSSchlangesans-Black'; 
  position: relative;
display: block;
cursor: pointer;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
text-transform: uppercase;
color: #000;
text-align: center;
text-decoration: none;
white-space: nowrap;
width: 33%;
}

.wintable{
  display: grid;
  position: relative;
width: 100%;
border-collapse: collapse;
padding-bottom: 3.5rem;
white-space: nowrap;
text-transform: uppercase;
}

.wintable tr{
  
  display: grid;
}
.wintable td{
  display: grid;
  width: 100%;
}
thead td{
font-family: 'ALSSchlangesans-Black'; 

font-size: 16px;
line-height: 120%;
}
thead{
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #c4c4c4;
}
tbody td{
font-size: 16px;
padding-top: 2rem ;
}

.footer a{
  display: grid;
  position: relative;
text-transform: uppercase ;
	font-weight: bold;
  font-size: 16px;
  line-height: 160%;
margin-left: 4rem;
margin-right: 4rem;
margin-top: 1rem;
}

.footer img{
  width: 50%;
  margin-left: 25%;
}

.footer{
  text-align: center;
display: grid;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
padding: 1rem;
}

#logofootermob{
  opacity: 1;
  width: 50%;
}

#logofooter{
  opacity: 0;
  width: 0%;
}
#logoheader{
  opacity: 0;
  width: 0%;
}

}
</style>
